<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/styles.css" />
  </head>
  <body>
    <h1 class="greeting">Sign Up // Sign In</h1>

    <div>
      <form
        action="http://localhost:3000/auth/signup"
        method="POST"
        class="inbox"
        id="sign-up-form"
      >
        <label for="sign-up-name-id">Sign Up: Name</label>
        <br />
        <input
          class="name"
          id="sign-up-name-id"
          name="signUpNameName"
          type="text"
          placeholder="your name here"
          required
        />
        <br />
        <label for="sign-up-password-id">Password</label>
        <br />
        <input
          class="password"
          id="sign-up-password-id"
          name="signUpPasswordName"
          type="password"
          placeholder="create a password"
          required
        />
        <br />
        <input class="btn" id="sign-up-btn" name="sign-up-btn" type="submit" />
      </form>
    </div>

    <div>
      <form action="http://localhost:3000/auth/login" method="POST" class="inbox" id="sign-in-form">
        <label for="sign-in-name-id">Sign In: Name</label>
        <br />
        <input
          class="name"
          id="sign-in-name-id"
          name="signInNameName"
          type="text"
          placeholder="your name here"
          required
        />
        <br />
        <label for="sign-in-password-id">Password</label>
        <br />
        <input
          class="password"
          id="sign-in-password-id"
          name="signInPasswordName"
          type="password"
          placeholder="enter your password"
          required
        />
        <br />
        <input class="btn" id="sign-in-btn" type="submit" />
      </form>
    </div>
  </body>
</html>
